*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* generali  */

.container{    
    width: 80%;
    margin: auto;
    max-width: 1180px;
}

.fas.fa-long-arrow-alt-down{
    margin-right: 10px;
}

/* hover  */
nav ul li a:hover{
    text-decoration: underline;
}

.btn a:hover, .btn--big a:hover{
    text-decoration: underline;
    box-shadow: 3px 3px 6px #222;
}

.btn--big.btn--black a:hover{
    text-decoration: underline;
    box-shadow: 3px 3px 6px #fff;
}

/* header  */
header {
    background-color: #3163E0;
    z-index: 999;
    
}

header .header__row{
    height: 50px;
    width: 100%;
    background-color: #3163E0;
}

header .header__row::after{
    display: table;
    content:"";
    clear: both;
}

header .header__row .logo{
    width: 20%;
    height: 100%;
    float: left;
    line-height: 50px;
}

header .header__row .logo a{
    display: inline-block;
    padding: 0px 12px;
    /* regole per aumentare area cliccabile  */
}

header .header__row .logo img{
    vertical-align: middle;
}

header .header__row nav {
    width: 60%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    float: left;
}

header .header__row .btn{
    width: 20%;
    height: 100%;
    line-height: 50px;
    text-align: right;
    float: right;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav ul li a{
    display: inline-block;
    padding: 0px 12px;
    /* aumenta area cliccabile  */
    text-decoration: none;
    margin: 0px 20px;
    color: #fff;
}

header .header__row .btn a{
    background-color: #fff;
    border-radius: 40px;
    display: inline;
    padding: 8px 16px;
    text-decoration: none;
    color: #222;
}
    


/* section jumbotron */
#jumbotron {
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#jumbotron .jumbotron__content{
    max-width: 800px;
    height: 50%;
    text-align: center;
    padding: 0px 40px;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#jumbotron .jumbotron__content h1, #jumbotron .jumbotron__content p {
    margin-bottom: 30px;
}

#jumbotron .jumbotron__content .btn--big{
    display: inline-block;
    margin:0px 20px;
}

.btn--big a{
    background-color: #fff;
    color: #222 ;
    border-radius: 40px;
    display: inline;
    padding: 16px 32px;
    font-size: 1.2rem;
    text-decoration: none;
}

.btn--big.btn--black a{
    background-color: #222;
    color: #fff;
}

/* main  */

.banner--first{
    min-height: 600px;
    
}

.banner__container{
    width: 80%;
    margin: auto;
    height:100%;
    min-height: 600px;  
    background-color: red;  
    position: relative;
}

.banner__center{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__center::after{
    content: "";
    display: table;
    clear: both;
}

.banner__img{
    width: 70%;
    float: left;
}

.banner__img img{
    width: 100%;
    object-fit: cover;
}

.banner__text{
    width: 30%;
    float: left;
    padding: 40px;
    font-size: 1.2em;
}

.banner__text h2{
    margin-bottom: 15px;
}



