*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* container  */
.container{
    width: 80%;
    max-width: 1180px;
    margin: auto; 
    padding: 40px 0px;   
}



/* btn  */
.btn{
    width: 20%;
    height: 100%;
    float: right;
    
}
.btn a{
    text-decoration: none;
    color: #222;
    background-color: white;
    border-radius: 40px;
    padding: 8px 16px;
}

.btn--big{
    display: inline-block;
    margin-left: 20px;
}

.btn--big a{
    text-decoration: none;
    color: #222;
    background-color: white;
    border-radius: 40px;
    padding: 16px 32px;
}

.btn--big i{
    margin-right: 10px;
}

.btn--big.btn--black a{
    background-color: #222;
    color: #fff;
}

.btn--big.btn--blue a{
    background-color: #3163e0;
    opacity: 0.4;
    color: #fff;
}

/* wave  */
.wave{
    width: 100%;
    height: 26%;
}

.wave img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* header  */
header{
    background-color: #3163E0;
    width: 100%;
}



header .container{
    height: 60px;
    padding: 0;
}


/* logo  */
.logo{
    width: 20%;
    height: 100%;
    line-height: 60px;
    float: left;
}

.logo a{
    display: inline-block;
    padding: 0px 16px;
}

.logo img{
    width: 100%;
    vertical-align: middle;
}

/* nav header  */
nav{
    width: 60%;
    float: left;
    height: 100%;
    line-height: 60px;
    text-align: center;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0px 16px;
}



/* clearfix header  */
.header__container::after{
    display: table;
    content: "";
    clear: both;
}

/* btn header */
header .btn{
    line-height: 60px;
    text-align: right;
}

/* jumbotron  */
#jumbotron{
    width: 100%;
    height: 600px;
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

#jumbotron .container{
    max-width: 780px;
    text-align: center;
    padding: 200px 50px;
}

#jumbotron .container h1{
    font-size: 3em;
    margin-bottom: 20px;
}

#jumbotron .container p{
    margin-bottom: 30px;
}

/* main  */

    /* clearfix banner */
.banner .container::after{
    display: table;
    content:"";
    clear: both;
}

 /* main banner */
 .banner{
    margin-bottom: 20px;
    height: 700px;
    min-height: 700px;
    margin: 60px 0px;
 }

    /* banner colored  */
.colored{
    background-color: #f6f6f6;
    height: 48%;
}

.banner .banner__left{
    float: left;
    width: 50%;
}

.banner .banner__right{
    float: right;
    width: 30%;
    padding: 80px 20px;
}


.banner h2{
    margin-bottom: 20px;
    font-size: 2em;
}

    /* banner inverted  */

.banner .banner__left h2{
    padding: 20px;
}

.banner .banner__left p{
    padding: 20px;
}

.banner .banner__right.inverted{
    width: 40%;
    padding: 0;
}

.banner .banner__right.inverted img {
    width: 100%;
}

/* banner bottom  */
.banner.banner--bottom{
    height: 1300px;
    min-height: 1300px;
    text-align: center;
}

.banner.banner--bottom .container{
    width: 90%;
    max-width: 1380px;
}

.banner.banner--bottom .colored{
    height: 80%;
}

.banner.banner--bottom .bottom__text{
    padding: 0px 60px;
}

.banner.banner--bottom .bottom__download{
    background-image: url(../img/stars.svg);
    background-size: cover;
    width: 80%;
    margin: auto;
}

.banner.banner--bottom .bottom__img img{
    width: 100%;
}

.banner.banner--bottom .bottom__download h3{
    margin-bottom: 50px;
}

/* footer  */
footer{
    background-color: #222;
    width: 100%;
    height: 800px;
    min-height: 800px;
}

    /* footer clearfix  */
clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/* col generale  */
footer .col{
    width: 20%;
    float: left;
    color: #fff;
}


/* col--link  */
footer .col.col--link h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #3163e0;
}

footer .col.col--link #lang{
    font-size: 0.8em;
    margin-bottom: 10px;
}

footer .col.col--link #social li{
    display: inline-block;
    list-style-type: none;
    margin-right: 8px;
}

footer .col.col--link #social li a{
    display: inline-block;
    padding-right: 8px;
    color: #fff;
}

/* col--list  */
footer .col.col--list{
    line-height: 30px;
}

footer .col.col--list li {
    list-style-type: none;
    color: #3163e0;
}

footer .col.col--list li a{
    text-decoration: none;
    color: #fff;
}

/* nav footer  */
footer .nav__footer{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    border-top: 1px solid pink;
} 

footer .nav__footer::after{
    display: table;
    clear: both;
    content: "";
}

footer .nav__footer .footer__logo{
    width: 20%;
    float: left;
    line-height: 80px;
    text-align: left;
}

footer .nav__footer .footer__logo img{
    vertical-align: middle;
}


footer .nav__footer .btn {
    width: 20%;
    line-height: 80px;
    text-align: right;
    float: right;
}

footer .nav__footer .btn a{
    background-color: #577fe6;
    color: #fff;
}