header{
    z-index: 999;
}    
    /* hover  */

#header-nav ul li a:hover {
    text-decoration: underline;
}

.btn-min a:hover, .btn-big a:hover{
    box-shadow: 2px 2px 6px #222;
    text-decoration: underline;
}

#bottom-nav .btn-min a:hover{
    box-shadow: 2px 2px 6px #fff;

}

.btn-black a:hover{
     box-shadow: 2px 2px 6px #fff;
    text-decoration: underline;
}

.btn-blue a:hover{
    opacity: 1;
}

.ftcol-left span:hover{
    text-decoration: underline;
}

.ftcol-left a:hover{
    color: #3163e0;
}

.ftcol-right a:hover{
    text-decoration: underline;
}


/* wave  */
.ps-rel-wave, .ps-rel-wave2{
    position: relative;
    padding: 10px;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.wave .shape-fill {
    fill: #ffffff;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.wave2 .shape-fill {
    fill: #fff;
}

.wave3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.wave3 .shape-fill {
    fill: #fff;
}

.bg-f6{
    background-color: #f6f6f6;
}

.bg-fff{
    background-color: #fff;
}

.pd-25-0{
    padding: 25px 0px;
}